@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Raleway&display=swap");

* {
	font-family: "Raleway", sans-serif;

	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html {
	height: 100%;
}

:root {
	--bs-blue: #0d6efd;
	--bs-indigo: #6610f2;
	--bs-purple: #6f42c1;
	--bs-pink: #d63384;
	--bs-red: #dc3545;
	--bs-orange: #fd7e14;
	--bs-yellow: #ffc107;
	--bs-green: #198754;
	--bs-teal: #20c997;
	--bs-cyan: #0dcaf0;
	--bs-black: #000;
	--bs-white: #fff;
	--bs-gray: #6c757d;
}

/* Navbar */

img.img-logo {
	height: 60px;
	width: auto;
}

#navbarNav li {
	font-weight: bold;
}

/* Home */

#home {
	background-image: url("../img/banner.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.heading {
	position: relative;
	top: 40rem;
}

.heading h1 {
	font-size: 2rem;
}

.heading p {
	font-size: 1rem;
}

.background {
	/* texts */
	text-align: justify;

	/* background */
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

/* Services section */

/* Margin-top increase */

#description,
#services {
	padding: 6.25rem 0;
}

/* Background colors */

#description {
	background-color: #48cae4;
}

#services {
	background-color: #00b4d8;
}

.bd-services {
	background: #fdfcfc;
	border-radius: 10px;
}

.bd-services h3 {
	font-size: 25px;
}

.iconify {
	font-size: 60px;
}

/* Media queries */
@media (max-width: 575.98px) {
	/* Home */
}

/* `md` applies to small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
}

/* `lg` applies to medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
	/* Descriptions */

	#description .icons {
		font-size: 1.5rem;
	}

	#description h1 {
		font-size: 2rem;
	}

	/* Services */

	#services .iconify {
		font-size: 2.5rem;
	}
}

/* `xl` applies to large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {
	/* Home */
	.heading {
		top: 35em;
	}

	.background h1 {
		font-size: 2.25rem;
	}

	/* Services */
	#services h3 {
		font-size: 1.563rem;
	}

	#services .iconify {
		font-size: 3rem;
	}
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */

@media (max-width: 1399.98px) {
	/* Home */

	/* Descriptions */

	/* Services */

	.bd-services h3 {
		font-size: 1.313rem; /* 20px */
	}
}
